body{
  background-image: url("bgindex.jpg");
  background-size: cover;
  background-color: black;
}
.index{
  padding: 300px;
}
.index img{
  border-radius: 50%;
  border-width: thin;
  border: solid;
  width:200px;
  height:200px;
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 150px;
  margin-bottom: 30px;
}

.index img:hover{
  border: 10px inset;



}

.index h1{
  font-family: brim-narrow-combined-2, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  font-family: monospace;
  color: white;
}
.index h1:hover{
  color:yellow;
  font-size: 120px;
  font-weight: bold;
  font-style: italic;
}
.index a{
  font-size: 50px;
  padding-left: 30px;
  margin-left: 10px;;
}
.index a:hover{
  color: red;
  font-size: 55px;
}
