h1{
  text-align: center;
  color: #c36cd1;
}
.jumbotron{
  margin-top:20px;
  padding-top: 20px;
}

.topright{
  float: right;
  padding-left: 30px;
  margin-left: 12px;
  margin-right: 40px;
  font-size: 20px;
}

li a:hover{
  color: red;
  font-size: 25px;
}
.main{
  margin: 70px;
  padding-top: 40px;
  opacity: .6;
}

body{
  background-image: url("../img/projectbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.panel-body{
  font-size: 25px;
  background-color: ;
}

.panel-title{
  color:red;
  font-size: 30px;
  text-align: center;
}
