body{
  background-image: url("../img/aboutbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1{
  text-align: center;
  font-size: 40px;
}
h3{
  padding-top:40px;
  font-size: 40px
}
p{
  font-size: 28px;
  padding-top: 30px;
}
.one {
  padding-left: 30px;
}
ul{
  font-size: 30px;
}
