.one{
  margin-left: 30px;
  padding-top: 30px;
}
body{
  background-image: url("../img/contactbg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h3{
  font-size: 50px;
}
h4{
  font-size: 30px;
}
p{
  font-size: 30px;
  margin-left: 50px;
}
img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 50% solid black;
}
.panel{
  margin: 40px;
}
.down{
  padding-top: 30px;
}
.panel-body{
  background-color:#e9f9db ;
}
